<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Julia Maksimova</title>
</head>
<body id='body' class="dark">

<header class="header">
    <div class="lg-container">
        <div class="header-inner">
            <a class="logo-wrapper" href="#"><img class="logo" src="../../svg/logo.svg" alt="Julia Maksimova"></a>
            <ul class="main-menu">
                <li class="main-menu__item">
                    <a class="main-menu__link" href="/"><span>Home</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="/about.html"><span>About Me</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="/blog.html"><span>News and Insights</span></a>
                </li>
                <li class="main-menu__item multi">
                    <a class="main-menu__link" href="#"><span>Services</span></a>
                    <div class="secondary-menu">
                        <ul class="secondary-menu__list">
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/tenant.html">
                                    Tenant Representation <span>(Retail / Office)</span>
                                </a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/owner.html">
                                    Owner Representation <span>(Retail / Office)</span>
                                </a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/investment.html">
                                    Investment Sales &amp; Capital Markets <span>(Valuation &amp; advisory)</span>
                                </a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="#">
                                    Consulting &amp; Learning Services
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="listings.html"><span>Featured Listings</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#"><span>Get in Touch</span></a>
                </li>
                <li class="main-menu__item">
                    <span class="lang-btn icon-arrow-down">
                        <p class="lang">EN</p>
                        <ul class="lang-menu" style="display: none;">
                            <li class="lang-menu__item active">EN</li>
                            <li class="lang-menu__item">RU</li>
                            <li class="lang-menu__item">FR</li>
                            <li class="lang-menu__item">SP</li>
                        </ul>
                    </span>
                </li>
            </ul>
            <span class="mobile-menu__btn">
                <div class="x"></div>
                <div class="y"></div>
                <div class="z"></div>
            </span>
        </div>
    </div>
</header>

<div class="mobile-menu">
    <div class="lg-container">
        <div class="mobile-menu__header">
            <img class="mobile-menu__logo" src="../../svg/footer-logo.svg" alt="Julia Maksimova">
            <div class="mobile-menu__right">
                <ul class="mobile-menu__socials top">
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-ic-facebook" href="#"></a>
                    </li>
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-youtube-play" href="#"></a>
                    </li>
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-ic-instagram" href="#"></a>
                    </li>
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-linkedin-rect" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mobile-menu__lg">
            <ul class="mobile-menu__lg-row1">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
            <span class="mobile-menu__lg-heading">Services</span>
            <ul class="mobile-menu__lg-row2">
                <li>
                    <a href="tenant.html">Tenant Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="owner.html">Owner Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="investment.html">Investment Sales & Capital Markets <span>(Valuation & advisory)</span></a>
                </li>
                <li>
                    <a href="#">Consulting & Learning Services</span></a>
                </li>
            </ul>
            <span class="mobile-menu__lg-heading">Services</span>
            <ul class="mobile-menu__lg-row3">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
        </div>
        <div class="mobile-menu__sm">
            <span class="mobile-menu__sm-heading">Services</span>
            <ul class="mobile-menu__sm-list">
                <li>
                    <a href="tenant.html">Tenant Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="owner.html">Owner Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="investment.html">Investment Sales & Capital Markets <span>(Valuation & advisory)</span></a>
                </li>
                <li>
                    <a href="#">Consulting & Learning Services</span></a>
                </li>
            </ul>
            <span class="mobile-menu__sm-heading">News and Insights</span>
            <ul class="mobile-menu__sm-list">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
            <ul class="mobile-menu__sm-additional-list">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
            <ul class="mobile-menu__socials bot">
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-ic-facebook" href="#"></a>
                </li>
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-youtube-play" href="#"></a>
                </li>
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-ic-instagram" href="#"></a>
                </li>
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-linkedin-rect" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<main class="main-wrapper main-blog">

<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumbs-item spacer">
                <span>/</span>
            </li>
            <li class="breadcrumbs-item">
                <a href="#">News And Insights</a>
            </li>
            <li class="breadcrumbs-item spacer">
                <span>/</span>
            </li>
            <li class="breadcrumbs-item">
                <span>Blog</span>
            </li>
        </ul>
    </div>
</div>

<section class="blog-screen">
    <div class="container">
        <div class="col-md-12">
            <h1 class="page-title">Blog</h1>
            <div class="row">
                <div class="col-md-8">
                    <ul class="blog-list">
                        <li class="blog-item">
                            <a class="blog-item__wrapper" href="blog-post.html">
                                <div class="blog-item__pic-wrapper">
                                   <img class="blog-item__pic" src="../../images/articles/3.jpg" alt="">
                                </div>
                                <span class="blog-item__title">Tax Cuts and Jobs Acts Includes Benefits for Commercial Real Estate Industry</span>
                                <small class="blog-item__date">07.21.2018 · 3 min read</small>
                                <div class="blog-item__descr">For multifamily investors who stayed on the fence waiting for a new tax policy, the Tax Cuts and Jobs Act passed in December may give them the clarity they’re seeking to make informed investment decisions in 2018.</div>
                                <span class="blog-item__btn">READ More</span>
                            </a>
                        </li>
                        <li class="blog-item">
                            <a class="blog-item__wrapper" href="blog-post.html">
                                <div class="blog-item__pic-wrapper">
                                   <img class="blog-item__pic" src="../../images/articles/4.jpg" alt="">
                                </div>
                                <span class="blog-item__title">Achieve Your Dream with a Vision and Plan. (There’s a Difference)</span>
                                <small class="blog-item__date">07.21.2018 · 3 min read</small>
                                <div class="blog-item__descr">Successful people think big, set challenging goals and develop clear plans to achieve them. With 2018 less than a month old, now is an opportune time to plan for the future.</div>
                                <span class="blog-item__btn">READ More</span>
                            </a>
                        </li>
                        <li class="blog-item">
                            <a class="blog-item__wrapper" href="blog-post.html">
                                <div class="blog-item__pic-wrapper">
                                   <img class="blog-item__pic" src="../../images/articles/1.jpg" alt="">
                                </div>
                                <span class="blog-item__title">Tax Cuts and Jobs Acts Includes Benefits for Commercial Real Estate Industry</span>
                                <small class="blog-item__date">07.21.2018 · 3 min read</small>
                                <div class="blog-item__descr">For multifamily investors who stayed on the fence waiting for a new tax policy, the Tax Cuts and Jobs Act passed in December may give them the clarity they’re seeking to make informed investment decisions in 2018.</div>
                                <span class="blog-item__btn">READ More</span>
                            </a>
                        </li>
                        <li class="blog-item">
                            <a class="blog-item__wrapper" href="blog-post.html">
                                <div class="blog-item__pic-wrapper">
                                   <img class="blog-item__pic" src="../../images/articles/2.jpg" alt="">
                                </div>
                                <span class="blog-item__title">Achieve Your Dream with a Vision and Plan. (There’s a Difference)</span>
                                <small class="blog-item__date">07.21.2018 · 3 min read</small>
                                <div class="blog-item__descr">Successful people think big, set challenging goals and develop clear plans to achieve them. With 2018 less than a month old, now is an opportune time to plan for the future.</div>
                                <span class="blog-item__btn">READ More</span>
                            </a>
                        </li>
                    </ul>
                    <div class="blog-footer">
                        <a class="blog-btn" href="#">SHOW MORE</a>                      
                        <ul class="pagination-list">
                            <li class="pagination-item current">1</li>
                            <li class="pagination-item spacer">/</li>
                            <li class="pagination-item"><a href="">2</a></li>
                            <li class="pagination-item spacer">/</li>
                            <li class="pagination-item"><a href="">3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <aside class="blog-sidebar">
                        <div class="blog-sidebar__block">
                            <div class="blog-sidebar__block-title"><span>Subscribe</span></div>
                            <span class="blog-sidebar__subscribe-descr">for access to exlusive content from me</span>
                            <span data-mfp-src="#subscribe-popup" class="blog-sidebar__btn popup-btn">SUBSCRIBE</span>
                        </div>
                        <div class="blog-sidebar__block">
                            <div class="blog-sidebar__block-title"><span>Maksimova Report</span></div>
                            <ul class="blog-reports__list">
                                <li class="blog-reports__item">
                                    <div class="blog-reports__item-title">New York Retail Quarterly Q1 2018</div>
                                    <span data-mfp-src="#reports-popup" class="blog-reports__item-link popup-btn">DOWNLOAD</span>
                                </li>
                                <li class="blog-reports__item">
                                    <div class="blog-reports__item-title">New York Retail Quarterly Q2 2018</div>
                                    <span data-mfp-src="#reports-popup" class="blog-reports__item-link popup-btn">DOWNLOAD</span>
                                </li>
                            </ul>
                            <span data-mfp-src="#all-reports-popup" class="blog-sidebar__btn popup-btn">ALL REPORTS</span>
                        </div>
                        <div class="blog-sidebar__block">
                            <div class="blog-sidebar__block-title"><span>Upcoming Events</span></div>
                            <div class="blog-sidebar__events-slider">
                                <div class="events-slide">
                                    <div class="events-slide__title-wrapper">
                                        <span class="events-slide__title">New York Ag Innovation Forum</span>
                                        <div class="events-slide__title-bg">01</div>
                                    </div>
                                    <span class="events-slide__date">Wednesday, August 8, 1:30 pm</span>
                                    <a class="events-slide__btn" href="#">Learn More</a>
                                </div>
                                <div class="events-slide">
                                    <div class="events-slide__title-wrapper">
                                        <span class="events-slide__title">Badger Startup Summit</span>
                                        <div class="events-slide__title-bg">02</div>
                                    </div>
                                    <span class="events-slide__date">Saturday, August 29, 9:30 am</span>
                                    <a class="events-slide__btn" href="#">Learn More</a>
                                </div>
                                <div class="events-slide">
                                    <div class="events-slide__title-wrapper">
                                        <span class="events-slide__title">SCRMC Fall Conference</span>
                                        <div class="events-slide__title-bg">03</div>
                                    </div>
                                    <span class="events-slide__date">Friday, September 11, 8:00 am</span>
                                    <a class="events-slide__btn" href="#">Learn More</a>
                                </div>
                                <div class="events-slide">
                                    <div class="events-slide__title-wrapper">
                                        <span class="events-slide__title">SCRMC Fall Conference</span>
                                        <div class="events-slide__title-bg">04</div>
                                    </div>
                                    <span class="events-slide__date">Friday, September 11, 8:00 am</span>
                                    <a class="events-slide__btn" href="#">Learn More</a>
                                </div>
                                <div class="events-slide">
                                    <div class="events-slide__title-wrapper">
                                        <span class="events-slide__title">Badger Startup Summit</span>
                                        <div class="events-slide__title-bg">02</div>
                                    </div>
                                    <span class="events-slide__date">Saturday, August 29, 9:30 am</span>
                                    <a class="events-slide__btn" href="#">Learn More</a>
                                </div>
                                
                            </div>
                            <a href="#" class="blog-sidebar__btn popup-btn">MORE EVENTS</a>
                        </div>
                        <div class="blog-menu__socials-wrapper">
                            <ul class="blog-menu__socials">
                                <li class="blog-menu__socials-item">
                                    <a class="blog-menu__socials-link icon-ic-facebook" href="#"></a>
                                </li>
                                <li class="blog-menu__socials-item">
                                    <a class="blog-menu__socials-link icon-youtube-play" href="#"></a>
                                </li>
                                <li class="blog-menu__socials-item">
                                    <a class="blog-menu__socials-link icon-ic-instagram" href="#"></a>
                                </li>
                                <li class="blog-menu__socials-item">
                                    <a class="blog-menu__socials-link icon-linkedin-rect" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>       
    </div>
</section>

<footer class="footer">
        <div class="container">
            <div class="col-md-12">
                <div class="main-footer__wrapper">
                    <a class="footer-logo__wrapper" href="/">
                        <img class="footer-logo" src="../../svg/footer-logo.svg" alt="Julia Maksimova">
                        <img class="mobile-footer-logo" src="../../images/logo-mobile.png" alt="Julia Maksimova">
                        <span class="footer-logo__descr">Licensed Real Estate Associate Broker</span>
                    </a>
                    <ul class="footer-menu first">
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="about.html">About Me</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="press.html">In the Press</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="blog-post.html">Blog</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="video.html">Videos</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="listings.html">Featured Listings</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Get in Touch</a>
                        </li>
                    </ul>
                    <ul class="footer-menu second">
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="tenant.html">Tenant Representation <span>(Retail / Office)</span></a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="owner.html">Owner Representation <span>(Retail / Office)</span></a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="investment.html">Investment Sales & Capital Markets <span>(Valuation & advisory)</span></a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Consulting & Learning Services</a>
                        </li>
                    </ul>
                    <ul class="footer-menu__socials">
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-ic-facebook" href="#"></a>
                        </li>
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-youtube-play" href="#"></a>
                        </li>
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-ic-instagram" href="#"></a>
                        </li>
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-linkedin-rect" href="#"></a>
                        </li>
                    </ul>
                </div>
                <div class="copyright-footer__wrapper">
                    <span class="copyright-footer__text">© 2018 Julia Maksimova. All Rights Reserved.</span>
                    <div class="copyright-footer__links">
                        <a class="copyright-footer__link" href="#">Terms</a>
                        <span> • </span>
                        <a class="copyright-footer__link" href="#">Privacy</a>
                    </div>
                    <div class="scroll-btn__wrapper">
                        <span class="scroll-btn icon-arrow-down"></span>
                        <p>UP</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</main>

<div class="mfp-hide"> 

    <div id='subscribe-popup' class="popup subscribe-popup">
        <div class="subscribe-popup__inner">
            <span class="popup-title">Subscribe</span>
            <div class="popup-descr">for access to exlusive content from me</div>
            <form class="subscribe-form">
                <div class="form-row">
                    <div class="form-input__wrapper">
                        <input type="text" name="name" class="form-input" required="" placeholder="Your Name">
                        <label class="form-label">Your Name</label>
                        <span></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-input__wrapper">
                        <input type="text" name="name" class="form-input" required="" placeholder="E-mail">
                        <label class="form-label">E-mail</label>
                        <span></span>
                    </div>
                </div>
                <div class="form-policy__wrapper">
                    <input class="form-checkbox" type="checkbox" name="check">
                    <span class="form-policy">I accept the terms of the <a href="">privacy policy</a> and I agree</span>
                </div>
                <button class="form-btn" type="submit">SUBSCRIBE</button>
            </form>
            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        </div>
    </div>

    <div id='reports-popup' class="popup reports-popup">
        <span class="popup-title">Download Report</span>
        <form class="reports-form">
            <div class="form-row">
                <div class="form-input__wrapper reports-input__wrapper">
                    <input type="text" name="name" class="form-input" required="" placeholder="Full Name">
                    <label class="form-label">Full Name</label>
                    <span></span>
                </div>
                <div class="form-input__wrapper reports-input__wrapper">
                    <input type="text" name="company" class="form-input" required="" placeholder="Your Company">
                    <label class="form-label">Your Company</label>
                    <span></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-input__wrapper reports-input__wrapper">
                    <input type="text" name="email" class="form-input" required="" placeholder="E-mail">
                    <label class="form-label">E-mail</label>
                    <span></span>
                </div>
                <div class="form-input__wrapper reports-input__wrapper">
                    <input type="text" name="phone" class="form-input" required="" placeholder="Phone Number">
                    <label class="form-label">Phone Number</label>
                    <span></span>
                </div>
            </div>
            <div class="form-policy__wrapper">
                <input class="form-checkbox" type="checkbox" name="check">
                <span class="form-policy">I accept the terms of the <a href="">privacy policy</a> and I agree</span>
            </div>
            <button class="form-btn" type="submit">DOWNLOAD</button>
        </form>
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>

    <div id='all-reports-popup' class="popup all-reports-popup">
        <span class="popup-title">All Reports</span>
        <ul class="all-reports__list">
            <li class="all-reports__item">
                <span class="all-reports__item-title">New York Retail Quarterly Q1 2018</span>
                <div class="all-reports__item-descr">Decreased asking rents have ignited overall deal volume, while specialized retailers provide landlords with a necessary edge in this evolving retail landscape.</div>
                <form class="all-reports-form">
                    <div class="form-input__wrapper reports-input__wrapper">
                        <input type="text" name="email" class="form-input" required="" placeholder="E-mail">
                        <label class="form-label">E-mail</label>
                        <span></span>
                    </div>
                    <button class="form-btn" type="submit">DOWNLOAD</button>
                </form>
            </li>
            <li class="all-reports__item">
                <span class="all-reports__item-title">New York Retail Quarterly Q4 2018</span>
                <div class="all-reports__item-descr">Decreased asking rents have ignited overall deal volume, while specialized retailers provide landlords with a necessary edge in this evolving retail landscape.</div>
                <form class="all-reports-form">
                    <div class="form-input__wrapper reports-input__wrapper">
                        <input type="text" name="email" class="form-input" required="" placeholder="E-mail">
                        <label class="form-label">E-mail</label>
                        <span></span>
                    </div>
                    <button class="form-btn" type="submit">DOWNLOAD</button>
                </form>
            </li>
        </ul>
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>
</div>

</body>
</html>