<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Julia Maksimova</title>
</head>
<body id='body' class="dark">

<header class="header">
    <div class="lg-container">
        <div class="header-inner">
            <a class="logo-wrapper" href="#"><img class="logo" src="../../svg/logo.svg" alt="Julia Maksimova"></a>
            <ul class="main-menu">
                <li class="main-menu__item">
                    <a class="main-menu__link" href="/"><span>Home</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="/about.html"><span>About Me</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="/blog.html"><span>News and Insights</span></a>
                </li>
                <li class="main-menu__item multi">
                    <a class="main-menu__link" href="#"><span>Services</span></a>
                    <div class="secondary-menu">
                        <ul class="secondary-menu__list">
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/tenant.html">
                                    Tenant Representation <span>(Retail / Office)</span>
                                </a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/owner.html">
                                    Owner Representation <span>(Retail / Office)</span>
                                </a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/investment.html">
                                    Investment Sales &amp; Capital Markets <span>(Valuation &amp; advisory)</span>
                                </a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="#">
                                    Consulting &amp; Learning Services
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="listings.html"><span>Featured Listings</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#"><span>Get in Touch</span></a>
                </li>
                <li class="main-menu__item">
                    <span class="lang-btn icon-arrow-down">
                        <p class="lang">EN</p>
                        <ul class="lang-menu" style="display: none;">
                            <li class="lang-menu__item active">EN</li>
                            <li class="lang-menu__item">RU</li>
                            <li class="lang-menu__item">FR</li>
                            <li class="lang-menu__item">SP</li>
                        </ul>
                    </span>
                </li>
            </ul>
            <span class="mobile-menu__btn">
                <div class="x"></div>
                <div class="y"></div>
                <div class="z"></div>
            </span>
        </div>
    </div>
</header>

<div class="mobile-menu">
    <div class="lg-container">
        <div class="mobile-menu__header">
            <img class="mobile-menu__logo" src="../../svg/footer-logo.svg" alt="Julia Maksimova">
            <div class="mobile-menu__right">
                <ul class="mobile-menu__socials top">
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-ic-facebook" href="#"></a>
                    </li>
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-youtube-play" href="#"></a>
                    </li>
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-ic-instagram" href="#"></a>
                    </li>
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-linkedin-rect" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mobile-menu__lg">
            <ul class="mobile-menu__lg-row1">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
            <span class="mobile-menu__lg-heading">Services</span>
            <ul class="mobile-menu__lg-row2">
                <li>
                    <a href="tenant.html">Tenant Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="owner.html">Owner Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="investment.html">Investment Sales & Capital Markets <span>(Valuation & advisory)</span></a>
                </li>
                <li>
                    <a href="#">Consulting & Learning Services</span></a>
                </li>
            </ul>
            <span class="mobile-menu__lg-heading">Services</span>
            <ul class="mobile-menu__lg-row3">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
        </div>
        <div class="mobile-menu__sm">
            <span class="mobile-menu__sm-heading">Services</span>
            <ul class="mobile-menu__sm-list">
                <li>
                    <a href="tenant.html">Tenant Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="owner.html">Owner Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="investment.html">Investment Sales & Capital Markets <span>(Valuation & advisory)</span></a>
                </li>
                <li>
                    <a href="#">Consulting & Learning Services</span></a>
                </li>
            </ul>
            <span class="mobile-menu__sm-heading">News and Insights</span>
            <ul class="mobile-menu__sm-list">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
            <ul class="mobile-menu__sm-additional-list">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
            <ul class="mobile-menu__socials bot">
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-ic-facebook" href="#"></a>
                </li>
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-youtube-play" href="#"></a>
                </li>
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-ic-instagram" href="#"></a>
                </li>
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-linkedin-rect" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<main class="main-wrapper main-blog">

<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumbs-item spacer">
                <span>/</span>
            </li>
            <li class="breadcrumbs-item">
                <a href="#">News And Insights</a>
            </li>
            <li class="breadcrumbs-item spacer">
                <span>/</span>
            </li>
            <li class="breadcrumbs-item">
                <a href="#">Blog</a>
            </li>
            <li class="breadcrumbs-item spacer">
                <span>/</span>
            </li>
            <li class="breadcrumbs-item">
                <span>How to Calculate the Value of Multifamily Real Estate</span>
            </li>
        </ul>
    </div>
</div>

<section class="blog-post-screen">
    <div class="container">
        <div class="col-md-12">
            <h1 class="page-title">How to Calculate the Value of Multifamily Real Estate</h1>
            <small class="blog-item__date">07.21.2018 · 3 min read</small>
            <div class="blog-post__pic-wrapper">
                <img class="blog-post__pic" src="../../images/articles/3.jpg" alt="">
            </div>
            <div class="socials-share__wrapper top">
                <a class="socials-share__item fb" href="#"></a>
                <a class="socials-share__item in" href="#"></a>
                <a class="socials-share__item tw" href="#"></a>
                <a class="socials-share__item pin" href="#"></a>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-post__txt-wrapper">
                        <p>
                            Most consumers do not grasp the difference between the price and the value of a product or service. Price is simply the amount of money paid or charged for something. When we focus on price, we are focusing on <a href="#"><strong>the short-term acquisition</strong></a> of a product. Value, on the other hand, focuses on the long-term aspect of the purchase.
                        </p>
                        <p>
                            Price is what a buyer spends, and value is what they receive in the transaction. When a buyer has received more value from a product than what they spent, this purchase is viewed as possessing great value. If a buyer values your product and can find a solution to his problem with your product more than he values his money, then he will purchase your product. People who focus on cost focus on the total cost of ownership, but people who focus on value focus on the total picture and how the product will create a solution.
                        </p>
                        <p>
                            Now, how can we compute value in real estate and specifically multifamily real estate? There are basically three methods of calculating real estate value: the cost approach, the sales approach, and the income approach. The sales approach is widely used in valuing single family homes, and the cost approach is utilized for properties that have few comps and for new properties (such as a church or school). Let’s focus on the income method, which utilizes the net operating income and cap rates to determine the property’s value. This is by far the best method to analyze apartments.
                        </p>
                        <h2>
                            Hyperbolic Discounting
                        </h2>
                        <p>
                            Before we dive into analyzing the value of a multifamily property, I would like to discuss the term “ <a href="#">hyperbolic discounting</a>” and why I think a significant amount of investors shy away from investing in multis. I was introduced to this term by Gary Keller while reading the book The One Thing, and hyperbolic discounting states that the farther away a reward is, the less motivated an individual is to achieve it. If I have a choice of earning $100 in two weeks or earning $500 in 18 months, most people will choose the present reward over the future reward overwhelmingly. This impulse of instant gratification is becoming evermore popular within our society.
                        </p>
                        <p>
                            This may explain why strategies such as wholesaling and fix and flipping are extremely popular to investors. These strategies employ much shorter time horizons than multifamily investments. A wholesaler can earn a profit in a matter of weeks, while a multifamily investor usually needs to dedicate a much longer time horizon to execute his business plan to generate his return.
                        </p>
                        <p>
                            There are other challenges that investors encounter when deciding upon multifamily investments, such as lack of capital or lack of experience, but I feel that not being able to focus on the long-term dissuades many investors from multifamily investing. I sometimes wonder if our society is losing the willpower and the persistence to see things through.
                        </p>
                        <p>
                            If you understand the value and the various benefits that multifamily offers, the decision of delayed gratification will be a no-brainer. So what are the benefits of multifamily, and how do we determine the value?
                        </p>
                        <img src="../../images/articles/5.jpg" alt="">
                        <h2>
                            6 Benefits of Investing in Multifamily Real Estate
                        </h2>
                        <p>
                            Here is a list of benefits:
                        </p>
                        <ul class="numeric">
                            <li>
                                <strong>Cash flow. </strong>Apartments generate monthly income, what I like to refer to as wallet money. I compare cash flow to dividends paid by stocks. The money rolls in every month.
                            </li>
                            <li>
                                <strong>Control. </strong>You are the captain of your own ship. You have the ability to control every decision that affects your investment.
                            </li>
                            <li>
                                <strong>Tax advantages. </strong>It’s not what you make, it’s what you keep that’s important, and real estate offers tremendous tax benefits. Why would the government create advantages for this tax class? The government realizes it does not have the ability to deliver affordable housing, and by offering these benefits, it is trying to stimulate the private sector to step in and fill the void.
                            </li>
                            <li>
                                <strong>Economy of scale: </strong>This is a huge advantage when trying to scale your business. I find it much easier trying to collect rent from 30 tenants in my apartment building rather than running all across the city to collect from my single family homes. It is easier and more cost effective to have more units under one roof.
                            </li>
                            <li>
                                <strong>Ability to force the appreciation: </strong>The value is not as reliant on comps as it is your ability to increase the value through growing the NOI.
                            </li>
                        </ul>
                        <div class="blog-post__Slider">
                            <div>
                                <img src="../../images/articles/4.jpg" alt="">
                            </div>
                            <div>
                                <img src="../../images/articles/5.jpg" alt="">
                            </div>
                            <div>
                                <img src="../../images/articles/3.jpg" alt="">
                            </div>
                            <div>
                                <img src="../../images/articles/2.jpg" alt="">
                            </div>
                        </div>
                        <h2>
                            Property Class
                        </h2>
                        <ul class="dotted">
                            <li>
                                <strong>A Properties: </strong>Newest, shiniest asset. They contain many amenities and cater to white-collar workers.
                            </li>
                            <li>
                                <strong>B Properties: </strong>Built within the last 20 years, this class caters to a mix of white and blue-collar workers.
                            </li>
                            <li>
                                <strong>C Properties: </strong>My first real estate brokers defined C properties as “crap” properties, but loved their ability to generate substantial cash flow.
                            </li>
                        </ul>
                        <p>Begin to visit websites that list multifamily properties, such as Loopnet, Costar, and Realtor.com, to become familiar with your market and the “players” in the market. Start networking with these individuals and ask them to start sending you deals to analyze. Expect to receive subpar deals in the beginning, but don’t quit. Tell them why these deals don’t work for you, and continue to analyze more deals. Formulate a business plan and strategy on how you will create value once you begin investing.</p>
                    </div>
                    <div class="socials-share__wrapper">
                        <a class="socials-share__item fb" href="#"></a>
                        <a class="socials-share__item in" href="#"></a>
                        <a class="socials-share__item tw" href="#"></a>
                        <a class="socials-share__item pin" href="#"></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <aside class="blog-sidebar">
                        <div class="blog-sidebar__block">
                            <div class="blog-sidebar__block-title"><span>Subscribe</span></div>
                            <span class="blog-sidebar__subscribe-descr">for access to exlusive content from me</span>
                            <span data-mfp-src="#subscribe-popup" class="blog-sidebar__btn popup-btn">SUBSCRIBE</span>
                        </div>
                        <div class="blog-menu__socials-wrapper">
                            <ul class="blog-menu__socials">
                                <li class="blog-menu__socials-item">
                                    <a class="blog-menu__socials-link icon-ic-facebook" href="#"></a>
                                </li>
                                <li class="blog-menu__socials-item">
                                    <a class="blog-menu__socials-link icon-youtube-play" href="#"></a>
                                </li>
                                <li class="blog-menu__socials-item">
                                    <a class="blog-menu__socials-link icon-ic-instagram" href="#"></a>
                                </li>
                                <li class="blog-menu__socials-item">
                                    <a class="blog-menu__socials-link icon-linkedin-rect" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>       
    </div>
</section>

<footer class="footer">
        <div class="container">
            <div class="col-md-12">
                <div class="main-footer__wrapper">
                    <a class="footer-logo__wrapper" href="/">
                        <img class="footer-logo" src="../../svg/footer-logo.svg" alt="Julia Maksimova">
                        <img class="mobile-footer-logo" src="../../images/logo-mobile.png" alt="Julia Maksimova">
                        <span class="footer-logo__descr">Licensed Real Estate Associate Broker</span>
                    </a>
                    <ul class="footer-menu first">
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="about.html">About Me</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="press.html">In the Press</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="blog-post.html">Blog</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="video.html">Videos</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="listings.html">Featured Listings</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Get in Touch</a>
                        </li>
                    </ul>
                    <ul class="footer-menu second">
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="tenant.html">Tenant Representation <span>(Retail / Office)</span></a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="owner.html">Owner Representation <span>(Retail / Office)</span></a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="investment.html">Investment Sales & Capital Markets <span>(Valuation & advisory)</span></a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Consulting & Learning Services</a>
                        </li>
                    </ul>
                    <ul class="footer-menu__socials">
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-ic-facebook" href="#"></a>
                        </li>
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-youtube-play" href="#"></a>
                        </li>
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-ic-instagram" href="#"></a>
                        </li>
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-linkedin-rect" href="#"></a>
                        </li>
                    </ul>
                </div>
                <div class="copyright-footer__wrapper">
                    <span class="copyright-footer__text">© 2018 Julia Maksimova. All Rights Reserved.</span>
                    <div class="copyright-footer__links">
                        <a class="copyright-footer__link" href="#">Terms</a>
                        <span> • </span>
                        <a class="copyright-footer__link" href="#">Privacy</a>
                    </div>
                    <div class="scroll-btn__wrapper">
                        <span class="scroll-btn icon-arrow-down"></span>
                        <p>UP</p>
                    </div>
                </div>
            </div>
        </div>
</footer>

</main>

<div class="mfp-hide"> 

    <div id='subscribe-popup' class="popup subscribe-popup">
        <div class="subscribe-popup__inner">
            <span class="popup-title">Subscribe</span>
            <div class="popup-descr">for access to exlusive content from me</div>
            <form class="subscribe-form">
                <div class="form-row">
                    <div class="form-input__wrapper">
                        <input type="text" name="name" class="form-input" required="" placeholder="Your Name">
                        <label class="form-label">Your Name</label>
                        <span></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-input__wrapper">
                        <input type="text" name="name" class="form-input" required="" placeholder="E-mail">
                        <label class="form-label">E-mail</label>
                        <span></span>
                    </div>
                </div>
                <div class="form-policy__wrapper">
                    <input class="form-checkbox" type="checkbox" name="check">
                    <span class="form-policy">I accept the terms of the <a href="">privacy policy</a> and I agree</span>
                </div>
                <button class="form-btn" type="submit">SUBSCRIBE</button>
            </form>
            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        </div>
    </div>
</div>

</body>
</html>