<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Julia Maksimova</title>
</head>
<body id='body'>

<header class="header">
    <div class="lg-container">
        <div class="header-inner">
            <a class="logo-wrapper" href="#"><img class="logo" src="../../svg/logo.svg" alt="Julia Maksimova"></a>
            <ul class="main-menu">
                <li class="main-menu__item">
                    <a class="main-menu__link" href="/"><span>Home</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="/about.html"><span>About Me</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="/blog.html"><span>News and Insights</span></a>
                </li>
                <li class="main-menu__item multi">
                    <a class="main-menu__link" href="#"><span>Services</span></a>
                    <div class="secondary-menu">
                        <ul class="secondary-menu__list">
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/tenant.html">
                                    Tenant Representation <span>(Retail / Office)</span>
                                </a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/owner.html">
                                    Owner Representation <span>(Retail / Office)</span>
                                </a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/investment.html">
                                    Investment Sales &amp; Capital Markets <span>(Valuation &amp; advisory)</span>
                                </a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="#">
                                    Consulting &amp; Learning Services
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="listings.html"><span>Featured Listings</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#"><span>Get in Touch</span></a>
                </li>
                <li class="main-menu__item">
                    <span class="lang-btn icon-arrow-down">
                        <p class="lang">EN</p>
                        <ul class="lang-menu" style="display: none;">
                            <li class="lang-menu__item active">EN</li>
                            <li class="lang-menu__item">RU</li>
                            <li class="lang-menu__item">FR</li>
                            <li class="lang-menu__item">SP</li>
                        </ul>
                    </span>
                </li>
            </ul>
            <span class="mobile-menu__btn">
                <div class="x"></div>
                <div class="y"></div>
                <div class="z"></div>
            </span>
        </div>
    </div>
</header>

<div class="mobile-menu">
    <div class="lg-container">
        <div class="mobile-menu__header">
            <img class="mobile-menu__logo" src="../../svg/footer-logo.svg" alt="Julia Maksimova">
            <div class="mobile-menu__right">
                <ul class="mobile-menu__socials top">
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-ic-facebook" href="#"></a>
                    </li>
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-youtube-play" href="#"></a>
                    </li>
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-ic-instagram" href="#"></a>
                    </li>
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-linkedin-rect" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mobile-menu__lg">
            <ul class="mobile-menu__lg-row1">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
            <span class="mobile-menu__lg-heading">Services</span>
            <ul class="mobile-menu__lg-row2">
                <li>
                    <a href="tenant.html">Tenant Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="owner.html">Owner Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="investment.html">Investment Sales & Capital Markets <span>(Valuation & advisory)</span></a>
                </li>
                <li>
                    <a href="#">Consulting & Learning Services</span></a>
                </li>
            </ul>
            <span class="mobile-menu__lg-heading">Services</span>
            <ul class="mobile-menu__lg-row3">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
        </div>
        <div class="mobile-menu__sm">
            <span class="mobile-menu__sm-heading">Services</span>
            <ul class="mobile-menu__sm-list">
                <li>
                    <a href="tenant.html">Tenant Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="owner.html">Owner Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="investment.html">Investment Sales & Capital Markets <span>(Valuation & advisory)</span></a>
                </li>
                <li>
                    <a href="#">Consulting & Learning Services</span></a>
                </li>
            </ul>
            <span class="mobile-menu__sm-heading">News and Insights</span>
            <ul class="mobile-menu__sm-list">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
            <ul class="mobile-menu__sm-additional-list">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
            <ul class="mobile-menu__socials bot">
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-ic-facebook" href="#"></a>
                </li>
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-youtube-play" href="#"></a>
                </li>
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-ic-instagram" href="#"></a>
                </li>
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-linkedin-rect" href="#"></a>
                </li>
            </ul>            
        </div>
    </div>
</div>

<main class="main-wrapper">

<section class="main-screen">
    <div class="lg-container">
        <div class="main-screen__wrapper">
            <div class="main-screen__info">
                <span data-mfp-src="#video-popup" class="main-screen__play-btn icon-icon_play popup-btn"></span>
                <div class="main-info__wrapper">
                    <span class="main-title">Licensed Real Estate Associate Broker</span>
                    <p class="main-descr">
                        Julia Maksimova specializes in landlord and tenant representation in the New York City Metro area. She started her career as a research intern with Cushman & Wakefield in Moscow, Russia which transitioned into a full time Market Research position in New York where she was responsible for supporting company's retail brokerage with statistical market analysis. She became a retail leasing broker in 2009.
                    </p>
                    <div class="main-info__btn-wrapper">
                        <a class="main-info__btn-about" href="about.html">ABOUT ME</a>
                        <a class="main-info__btn-services" href="#">Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="additional-info-screen">
    <div class="lg-container">
        <p class="additional-info__descr">
            Julia Maksimova specializes in landlord and tenant representation in the New York City Metro area. She started her career as a research intern with Cushman & Wakefield in Moscow, Russia which transitioned into a full time Market Research position in New York where she was responsible for supporting company's retail brokerage with statistical market analysis. She became a retail leasing broker in 2009.
        </p>
        <div class="additional-info__btn-wrapper">
            <a class="main-info__btn-about" href="about.html">ABOUT ME</a>
            <a class="main-info__btn-services" href="#">Services</a>
        </div>
    </div>
</section>

<section class="video-screen">
    <div class="container">
        <div class="col-md-12">
            <div class="video-wrapper video-slider">
                <div class="video-block left">
                    <div data-mfp-src="#video-popup" class="video-pic__wrapper popup-btn">
                        <img class="video-pic" src="../../images/video1.jpg" alt="">
                        <span class="video-block__play-btn icon-icon_play"></span>
                    </div>
                    <div class="video-block__txt-wrapper">
                        <span class="video-block__txt" title="We’re Proud to Represent Visionary Owners and Transformative Brands">We’re Proud to Represent Visionary Owners and Transformative Brands</span>
                    </div>
                </div>
                <div class="video-block right">
                    <div data-mfp-src="#video-popup" class="video-pic__wrapper popup-btn">
                        <img class="video-pic" src="../../images/video2.jpg" alt="">
                        <span class="video-block__play-btn icon-icon_play"></span>
                    </div>
                    <div class="video-block__txt-wrapper">
                        <span class="video-block__txt" title="We’re Proud to Represent Visionary Owners and Transformative Brands">Millions of Square Feet of Opportunity</span>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>

<section class="services-screen">
    <div class="container">
        <div class="col-md-12">
            <span class="screen-title">What I Do</span>
            <span class="screen-descr">my services</span>
            <ul class="services-list">
                <li class="services-item">
                    <img class="services-pic" src="../../svg/ic-tenant.svg" alt="">
                    <span class="services-title">Tenant Representation</span>
                    <a class="services-btn" href="tenant.html">Learn More</a>
                </li>
                <li class="services-item">
                    <img class="services-pic" src="../../svg/ic-owner.svg" alt="">
                    <span class="services-title">Owner  Representation</span>
                    <a class="services-btn" href="owner.html">Learn More</a>
                </li>
                <li class="services-item">
                    <img class="services-pic" src="../../svg/ic-invest.svg" alt="">
                    <span class="services-title">Investment Sales & Advisory Services</span>
                    <a class="services-btn" href="investment.html">Learn More</a>
                </li>
                <li class="services-item">
                    <img class="services-pic" src="../../svg/ic-consult.svg" alt="">
                    <span class="services-title">Consulting & Learning</span>
                    <a class="services-btn" href="events.html">Learn More</a>
                </li>
            </ul>
        </div>       
    </div>
</section>

<section class="statistics-screen">
    <div class="lg-container">
        <div class="statistics-wrapper">
            <span class="screen-title">Why Me?</span>
            <span class="screen-descr">statistics</span>
            <ul class="statistics-list">
                <li class="statistics-item">
                    <div class="statistics-item__num-wrapper">
                        <strong class="statistics-item__num">10</strong>
                        <span class="statistics-item__num-descr">Years of <br>Experience</span>
                    </div>
                </li>
                <li class="statistics-item">
                    <div class="statistics-item__num-wrapper">
                        <strong class="statistics-item__num">1000</strong>
                        <span class="statistics-item__num-descr">Successful <br>Projects</span>
                    </div>
                </li>
                <li class="statistics-item">
                    <div class="statistics-item__num-wrapper">
                        <strong class="statistics-item__num"><small>TOP</small>10</strong>
                        <span class="statistics-item__num-descr">Best Deals <br>in 2017</span>
                    </div>
                </li>
                <li class="statistics-item">
                    <div class="statistics-item__num-wrapper">
                        <strong class="statistics-item__num">50 000</strong>
                        <span class="statistics-item__num-unit">ft</span>
                    </div>
                    <span class="statistics-item__descr">Of Sales Space</span>
                </li>
                <li class="statistics-item">
                    <div class="statistics-item__num-wrapper">
                        <strong class="statistics-item__num">1030</strong>
                    </div>
                    <span class="statistics-item__descr">Of Sales Space</span>
                </li>
                <li class="statistics-item">
                    <div class="statistics-item__num-wrapper">
                        <strong class="statistics-item__num">$1,2M</strong>
                    </div>
                    <span class="statistics-item__descr">Of Proven Investment</span>
                </li>
            </ul>
            <div class="statistics-slider">
                <div>
                    <div class="statistics-item__num-wrapper">
                        <strong class="statistics-item__num">10</strong>
                        <span class="statistics-item__num-descr">Years of <br>Experience</span>
                    </div>                    
                </div>
                <div>
                    <div class="statistics-item__num-wrapper">
                        <strong class="statistics-item__num">1000</strong>
                        <span class="statistics-item__num-descr">Successful <br>Projects</span>
                    </div>                   
                </div>
                <div>
                    <div class="statistics-item__num-wrapper">
                        <strong class="statistics-item__num"><small>TOP</small>10</strong>
                        <span class="statistics-item__num-descr">Best Deals <br>in 2017</span>
                    </div>                    
                </div>
                <div>
                    <div class="statistics-item__num-wrapper">
                        <strong class="statistics-item__num">50 000</strong>
                        <span class="statistics-item__num-unit">ft</span>
                    </div>
                    <span class="statistics-item__descr">Of Sales Space</span>
                </div>
                <div>
                    <div class="statistics-item__num-wrapper">
                        <strong class="statistics-item__num">1030</strong>
                    </div>
                    <span class="statistics-item__descr">Of Sales Space</span>
                </div>
                <div>
                    <div class="statistics-item__num-wrapper">
                        <strong class="statistics-item__num">$1,2M</strong>
                    </div>
                    <span class="statistics-item__descr">Of Proven Investment</span>                
                </div>
            </div>
            <div class="statistics-menu__socials-wrapper">
                <span class="statistics-menu__socials-title">Keep in Touch</span>
                <ul class="statistics-menu__socials">
                    <li class="statistics-menu__socials-item">
                        <a class="statistics-menu__socials-link icon-ic-facebook" href="#"></a>
                    </li>
                    <li class="statistics-menu__socials-item">
                        <a class="statistics-menu__socials-link icon-youtube-play" href="#"></a>
                    </li>
                    <li class="statistics-menu__socials-item">
                        <a class="statistics-menu__socials-link icon-ic-instagram" href="#"></a>
                    </li>
                    <li class="statistics-menu__socials-item">
                        <a class="statistics-menu__socials-link icon-linkedin-rect" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>       
    </div>
</section>

<section class="events-screen">
    <div class="container">
        <div class="col-md-12">
            <span class="screen-title">Upcoming Events with Me</span>
            <div class="events-slider__wrapper">
                <div class="events-slider">
                    <div class="events-slide">
                        <div class="events-slide__title-wrapper">
                            <span class="events-slide__title">New York Ag Innovation Forum</span>
                            <div class="events-slide__title-bg">01</div>
                        </div>
                        <span class="events-slide__date">Wednesday, August 8, 1:30 pm</span>
                        <a class="events-slide__btn" href="#">Learn More</a>
                    </div>
                    <div class="events-slide">
                        <div class="events-slide__title-wrapper">
                            <span class="events-slide__title">Badger Startup Summit</span>
                            <div class="events-slide__title-bg">02</div>
                        </div>
                        <span class="events-slide__date">Saturday, August 29, 9:30 am</span>
                        <a class="events-slide__btn" href="#">Learn More</a>
                    </div>
                    <div class="events-slide">
                        <div class="events-slide__title-wrapper">
                            <span class="events-slide__title">SCRMC Fall Conference</span>
                            <div class="events-slide__title-bg">03</div>
                        </div>
                        <span class="events-slide__date">Friday, September 11, 8:00 am</span>
                        <a class="events-slide__btn" href="#">Learn More</a>
                    </div>
                    <div class="events-slide">
                        <div class="events-slide__title-wrapper">
                            <span class="events-slide__title">SCRMC Fall Conference</span>
                            <div class="events-slide__title-bg">04</div>
                        </div>
                        <span class="events-slide__date">Friday, September 11, 8:00 am</span>
                        <a class="events-slide__btn" href="#">Learn More</a>
                    </div>
                    <div class="events-slide">
                        <div class="events-slide__title-wrapper">
                            <span class="events-slide__title">Badger Startup Summit</span>
                            <div class="events-slide__title-bg">02</div>
                        </div>
                        <span class="events-slide__date">Saturday, August 29, 9:30 am</span>
                        <a class="events-slide__btn" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</section>

<section class="press-screen">
    <div class="container">
        <div class="col-md-12">
            <span class="screen-title">Press About Me</span>
            <div class="row">
                <ul class="press-list left col-md-6">
                    <li class="press-item">
                        <div class="press-item__header">
                            <img class="press-item__pic" src="../../images/press/bloomberg.png" alt="Bloomberg">
                            <span class="press-item__date">07.21.2018</span>
                        </div>
                        <a href="#" class="press-item__title-wrapper">
                            <span class="press-item__title">Eastern Consolidated Arrange 9,000 SF Retail Lease in Prime Koreatown Corner Location</span>
                            <i class="press-item__link icon-ic-extwin"></i>
                        </a>
                    </li>
                    <li class="press-item">
                        <div class="press-item__header">
                            <img class="press-item__pic" src="../../images/press/discover.png" alt="Discover">
                            <span class="press-item__date">07.21.2018</span>
                        </div>
                        <a href="#" class="press-item__title-wrapper">
                            <span class="press-item__title">20-Year Industry Veteran Julia Maksimova Joins Growing V&A Team as National Leader of Property Tax Group</span>
                            <i class="press-item__link icon-ic-extwin"></i>
                        </a>
                    </li>
                </ul>
                <ul class="press-list right col-md-6">
                    <li class="press-item">
                        <div class="press-item__header">
                            <img class="press-item__pic" src="../../images/press/time.png" alt="Time">
                            <span class="press-item__date">07.21.2018</span>
                        </div>
                        <a href="#" class="press-item__title-wrapper">
                            <span class="press-item__title">Abrams Retail Strategies at Julia Maksimova Arranges Lease for Prime SoHo Retail Space</span>
                            <i class="press-item__link icon-ic-extwin"></i>
                        </a>
                        <p class="press-item__descr">
                            NEW YORK, NY – May 30, 2018 – Abrams Retail Strategies at Eastern Consolidated has arranged a long-term lease in a 200-year-old property at 143 Spring Street in SoHo for online home goods retailer, One Kings Lane, which will be opening its New York City flagship at this location.
                        </p>
                    </li>
                    <li class="press-item">
                        <div class="press-item__header">
                            <img class="press-item__pic" src="../../images/press/forbes.png" alt="Forbes">
                            <span class="press-item__date">07.21.2018</span>
                        </div>
                        <a href="#" class="press-item__title-wrapper">
                            <span class="press-item__title">Julia Maksimova for Sale 106,000 Square Feet of Development Rights</span>
                            <i class="press-item__link icon-ic-extwin"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <a class="press-btn" href="#">SHOW MORE</a>
        </div>       
    </div>
</section>

<section class="articles-screen">
    <div class="container">
        <div class="col-md-12">
            <span class="screen-title">Read This</span>
            <ul class="row articles-list">
                <li class="col-md-6 articles-item">
                    <a class="articles-item__wrapper" href="#">
                        <div class="articles-item__pic-wrapper">
                           <img class="articles-item__pic" src="../../images/articles/1.jpg" alt="">
                        </div>
                        <span class="articles-item__title">Tax Cuts and Jobs Acts Includes Benefits for Commercial Real Estate Industry</span>
                        <small class="articles-item__date">07.21.2018 · 3 min read</small>
                        <div class="articles-item__descr">For multifamily investors who stayed on the fence waiting for a new tax policy, the Tax Cuts and Jobs Act passed in December may give them the clarity they’re seeking to make informed investment decisions in 2018.</div>
                        <span class="articles-item__btn">READ More</span>
                    </a>
                </li>
                <li class="col-md-6 articles-item">
                    <a class="articles-item__wrapper" href="#">
                        <div class="articles-item__pic-wrapper">
                           <img class="articles-item__pic" src="../../images/articles/2.jpg" alt="">
                        </div>
                        <span class="articles-item__title">Achieve Your Dream with a Vision and Plan. (There’s a Difference)</span>
                        <small class="articles-item__date">07.21.2018 · 3 min read</small>
                        <div class="articles-item__descr">Successful people think big, set challenging goals and develop clear plans to achieve them. With 2018 less than a month old, now is an opportune time to plan for the future.</div>
                        <span class="articles-item__btn">READ More</span>
                    </a>
                </li>
            </ul>
            <a class="press-btn" href="#">SHOW MORE</a>
        </div>       
    </div>
</section>

<section class="text-screen hidden-text__wrapper">
    <div class="container">
        <div class="col-md-12">
            <div class="text-screen__container">
                <div class="text-screen__wrapper hidden-text">
                    <div class="text-screen__inner hidden-text__inner">
                        <span>
                            <h1>We’re Proud to Represent Visionary Owners and transformative Brands</h1>
                        </span>
                        <span>
                            We understand your objectives, anticipates your challenges and works hard to exceed your expectations. Because we know that your location represents your brand, we’re on the street with ears to the ground, not simply sitting at a computer. We have extensive relationships with landlords and developers. Our recommendations are based on experience, extensive research and insight into retail market trends and a proven track record for capitalizing on market conditions.
                        </span>
                        <span>
                            We provide innovative store leasing, portfolio management and consulting services to property owners, corporate and institutional owners and retailers. With our distinguished track record of identifying ideally suited, consistently high-performing locations, we’ve earned the trust of some of the most prestigious companies in the United States.
                        </span>
                        <span>
                            <h2>Investment Sales</h2>
                        </span>
                        <span>
                            Winick Realty Group’s Investment Sales Division specializes in finding off-market deals that suit the acquisition and disposition needs of clients for retail properties across the New York City market and the East Coast of the United States. Winick Realty Group goes the extra mile to understand our clients’ requirements in great detail and connect them with the opportunities that best fit their individual.
                        </span>
                        <span>
                            <h3>Tenant Representation</h3>
                        </span>
                        <span>
                            Me team are equipped to represent retailers looking to lease everything from a flagship store to a pop-up location in a geographic area that spans the entire country. Whether they are a small mom-and-pop or a multi-national brand, a new concept or a well-established brand, every client is given our undivided attention and all of the resources at our disposal.
                        </span>
                        <span>
                            <h3>Owner Representation</h3>
                        </span>
                        <span>
                            Maksimova's state-of-the-art marketing tools get space noticed & get space leased. We provide creative relevant marketing materials for each space we bring to the market, and our intimate knowledge of neighborhoods, markets and retail trends allows landlords to optimize the value and longevity of their storefront or development site long after the initial lease is executed.
                        </span>
                        <span>
                            <h3>Consulting & Learning</h3>
                        </span>
                        <span>
                            Sales Division specializes in finding off-market deals that suit the acquisition and disposition needs of clients for retail properties across the New York City market and the East Coast of the United States. 
                        </span>
                    </div>
                </div>
                <div class="text-screen__btn-wrapper">
                    <div class="text-screen__btn hide-btn"><span>REVEAL INFO</span><i class="icon-arrow-down"></i></div>
                </div>
            </div>
        </div>       
    </div>
</section>

<section class="feedback-screen" id="contact">
    <div class="container">
        <div class="col-md-12">
            <div class="feedback-wrapper">
                <span class="feedback-title">Want to Get in Touch with Me?</span>
                <div class="feedback-form__wrapper">
                    <form class="feedback-form">
                        <div class="feedback-form__row">
                            <div class="feedback-form__input-wrapper">
                                <input type="text" name="name" class="feedback-form__input" required="" placeholder="Full Name">
                                <label class="feedback-form__label">Full Name</label>
                                <span></span>
                            </div>
                            <div class="feedback-form__input-wrapper">
                                <input type="text" name="name" class="feedback-form__input" required="" placeholder="E-mail">
                                <label class="feedback-form__label">E-mail</label>
                                <span></span>
                            </div>
                        </div>
                        <div class="feedback-form__row">
                            <div class="feedback-form__input-wrapper">
                                <input type="text" name="phone" class="feedback-form__input" required="" placeholder="Phone Number">
                                <label class="feedback-form__label">Phone Number</label>
                                <span></span>
                            </div>
                            <div class="feedback-form__input-wrapper">
                                <select class="feedback-form__select">
                                    <option selected="" disabled="">Your Topic</option>
                                    <option>Topic 1</option>
                                    <option>Topic 2</option>
                                    <option>Topic 3</option>
                                </select>
                                <span></span>
                            </div>
                        </div>
                        <div class="feedback-form__text-wrapper">
                            <textarea class="feedback-form__text"></textarea>
                            <span></span>
                            <div class="feedback-form__text-title">
                                <span>Write a Message </span>
                                <small>400 char max</small>
                            </div>
                            <label class="feedback-form__text-label">400 char max</label>
                        </div>
                        <div class="feedback-form__policy-wrapper">
                            <input class="feedback-form__checkbox" type="checkbox" name="check">
                            <span class="feedback-form__policy">I accept the terms of the <a href="">privacy policy</a> and I agree</span>
                        </div>
                        <button class="feedback-form__btn" type="submit">Submit</button>
                    </form>
                </div>
            </div>       
        </div>       
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="col-md-12">
            <div class="main-footer__wrapper">
                <a class="footer-logo__wrapper" href="/">
                    <img class="footer-logo" src="../../svg/footer-logo.svg" alt="Julia Maksimova">
                    <img class="mobile-footer-logo" src="../../images/logo-mobile.png" alt="Julia Maksimova">
                    <span class="footer-logo__descr">Licensed Real Estate Associate Broker</span>
                </a>
                <ul class="footer-menu first">
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="about.html">About Me</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="press.html">In the Press</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="blog-post.html">Blog</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="video.html">Videos</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="listings.html">Featured Listings</a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="#">Get in Touch</a>
                    </li>
                </ul>
                <ul class="footer-menu second">
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="tenant.html">Tenant Representation <span>(Retail / Office)</span></a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="owner.html">Owner Representation <span>(Retail / Office)</span></a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="investment.html">Investment Sales & Capital Markets <span>(Valuation & advisory)</span></a>
                    </li>
                    <li class="footer-menu__item">
                        <a class="footer-menu__link" href="#">Consulting & Learning Services</a>
                    </li>
                </ul>
                <ul class="footer-menu__socials">
                    <li class="footer-menu__socials-item">
                        <a class="footer-menu__socials-link icon-ic-facebook" href="#"></a>
                    </li>
                    <li class="footer-menu__socials-item">
                        <a class="footer-menu__socials-link icon-youtube-play" href="#"></a>
                    </li>
                    <li class="footer-menu__socials-item">
                        <a class="footer-menu__socials-link icon-ic-instagram" href="#"></a>
                    </li>
                    <li class="footer-menu__socials-item">
                        <a class="footer-menu__socials-link icon-linkedin-rect" href="#"></a>
                    </li>
                </ul>
            </div>
            <div class="copyright-footer__wrapper">
                <span class="copyright-footer__text">© 2018 Julia Maksimova. All Rights Reserved.</span>
                <div class="copyright-footer__links">
                    <a class="copyright-footer__link" href="#">Terms</a>
                    <span> • </span>
                    <a class="copyright-footer__link" href="#">Privacy</a>
                </div>
                <div class="scroll-btn__wrapper">
                    <span class="scroll-btn icon-arrow-down"></span>
                    <p>UP</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</main>

<div class="mfp-hide"> 
    <div id='video-popup' class="popup video-popup">
        <div class="iframe-wrapper">
            <iframe width="1280" height="315" src="https://www.youtube.com/embed/D0mRVJbGVSE?showinfo=0" frameborder="0" allowfullscreen></iframe>
            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        </div>
    </div>
</div>

<div class="mfp-hide">
    <div id='thanks-popup' class="popup">
        <div class="container">
            <div class="row">
                <div class="thanks-popup col-sm-8 col-sm-offset-2 co-xs-12">
                    <span data-mfp-src="#video-popup" class="main-screen__play-btn icon-icon_play popup-btn"></span>
                    <img src="../../images/img-maksimova1.png" alt="">
                    <div class="thanks-popup__txt">
                        <p>Thank you for your request</p>
                        <span>I will contact you as soon as possible.</span>
                    </div>
                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>