<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Julia Maksimova</title>
</head>
<body id='body'>

<header class="header">
    <div class="lg-container">
        <div class="header-inner">
            <a class="logo-wrapper" href="#"><img class="logo" src="../../svg/logo.svg" alt="Julia Maksimova"></a>
            <ul class="main-menu">
                <li class="main-menu__item">
                    <a class="main-menu__link" href="/"><span>Home</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="/about.html"><span>About Me</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="/blog.html"><span>News and Insights</span></a>
                </li>
                <li class="main-menu__item multi">
                    <a class="main-menu__link" href="#"><span>Services</span></a>
                    <div class="secondary-menu">
                        <ul class="secondary-menu__list">
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/tenant.html">
                                    Tenant Representation <span>(Retail / Office)</span>
                                </a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/owner.html">
                                    Owner Representation <span>(Retail / Office)</span>
                                </a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/investment.html">
                                    Investment Sales &amp; Capital Markets <span>(Valuation &amp; advisory)</span>
                                </a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="#">
                                    Consulting &amp; Learning Services
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="listings.html"><span>Featured Listings</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#"><span>Get in Touch</span></a>
                </li>
                <li class="main-menu__item">
                    <span class="lang-btn icon-arrow-down">
                        <p class="lang">EN</p>
                        <ul class="lang-menu" style="display: none;">
                            <li class="lang-menu__item active">EN</li>
                            <li class="lang-menu__item">RU</li>
                            <li class="lang-menu__item">FR</li>
                            <li class="lang-menu__item">SP</li>
                        </ul>
                    </span>
                </li>
            </ul>
            <span class="mobile-menu__btn">
                <div class="x"></div>
                <div class="y"></div>
                <div class="z"></div>
            </span>
        </div>
    </div>
</header>

<div class="mobile-menu">
    <div class="lg-container">
        <div class="mobile-menu__header">
            <img class="mobile-menu__logo" src="../../svg/footer-logo.svg" alt="Julia Maksimova">
            <div class="mobile-menu__right">
                <ul class="mobile-menu__socials top">
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-ic-facebook" href="#"></a>
                    </li>
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-youtube-play" href="#"></a>
                    </li>
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-ic-instagram" href="#"></a>
                    </li>
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-linkedin-rect" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mobile-menu__lg">
            <ul class="mobile-menu__lg-row1">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
            <span class="mobile-menu__lg-heading">Services</span>
            <ul class="mobile-menu__lg-row2">
                <li>
                    <a href="tenant.html">Tenant Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="owner.html">Owner Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="investment.html">Investment Sales & Capital Markets <span>(Valuation & advisory)</span></a>
                </li>
                <li>
                    <a href="#">Consulting & Learning Services</span></a>
                </li>
            </ul>
            <span class="mobile-menu__lg-heading">Services</span>
            <ul class="mobile-menu__lg-row3">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
        </div>
        <div class="mobile-menu__sm">
            <span class="mobile-menu__sm-heading">Services</span>
            <ul class="mobile-menu__sm-list">
                <li>
                    <a href="tenant.html">Tenant Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="owner.html">Owner Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="investment.html">Investment Sales & Capital Markets <span>(Valuation & advisory)</span></a>
                </li>
                <li>
                    <a href="#">Consulting & Learning Services</span></a>
                </li>
            </ul>
            <span class="mobile-menu__sm-heading">News and Insights</span>
            <ul class="mobile-menu__sm-list">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
            <ul class="mobile-menu__sm-additional-list">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
            <ul class="mobile-menu__socials bot">
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-ic-facebook" href="#"></a>
                </li>
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-youtube-play" href="#"></a>
                </li>
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-ic-instagram" href="#"></a>
                </li>
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-linkedin-rect" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<main class="main-wrapper main-tenant">

<div class="container">
    <div class="col-md-12">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumbs-item spacer">
                <span>/</span>
            </li>
            <li class="breadcrumbs-item">
                <span>Property Listing</span>
            </li>
        </ul>
    </div>
</div>

<section class="listings-screen sorting-wrapper">
    <div class="container">
        <div class="col-md-12">
            <div class="listings-header">
                <h1 class="page-title">Property Listing</h1>
                <nav class="listings-tabs__wrapper">
                    <span class="listings-tabs__title">Sorting by</span>
                    <ul class="sorting-tabs">
                        <li class="sorting-item exlusive">Exclusive</li>
                        <li class="sorting-item sold">Sold</li>
                        <li class="sorting-item investment">Investment sales</li>
                        <li class="sorting-item office">Office</li>
                        <li class="sorting-item hotel">Hotel</li>
                        <li class="sorting-item retail">Retail</li>
                    </ul>
                </nav>
            </div>
            <ul class="listings-wrapper">
                <li class="listing-item active retail exlusive">
                    <img class="listing-item__pic" src="../../images/listings/1.jpg" alt="">
                    <div class="listing-item__bg"></div>
                    <ul class="listing-item__labels">
                        <li class="listing-item__label retail">Retail</li>
                        <li class="listing-item__label exlusive">Exclusive</li>
                    </ul>
                    <span class="listing-item__title">4 star Superior Wellness/Medical Hotel for sale </span>
                    <button class="listing-item__btn">REQUEST</button>
                </li>
                <li class="listing-item active investment exlusive">
                    <img class="listing-item__pic" src="../../images/listings/2.jpg" alt="">
                    <div class="listing-item__bg"></div>
                    <ul class="listing-item__labels">
                        <li class="listing-item__label investment">Investment Sales</li>
                        <li class="listing-item__label exlusive">Exclusive</li>
                    </ul>
                    <span class="listing-item__title">Luxury hotel with spa for sale</span>
                    <button class="listing-item__btn">REQUEST</button>
                </li>
                <li class="listing-item active office exlusive">
                    <img class="listing-item__pic" src="../../images/listings/3.jpg" alt="">
                    <div class="listing-item__bg"></div>
                    <ul class="listing-item__labels">
                        <li class="listing-item__label office">Office</li>
                        <li class="listing-item__label exlusive">Exclusive</li>
                    </ul>
                    <span class="listing-item__title">The Secret History Of Muhammad Ali's Mystical Michigan Farm</span>
                    <button class="listing-item__btn">REQUEST</button>
                </li>
                <li class="listing-item active investment sold">
                    <img class="listing-item__pic" src="../../images/listings/4.jpg" alt="">
                    <div class="listing-item__bg"></div>
                    <ul class="listing-item__labels">
                        <li class="listing-item__label investment">Investment Sales</li>
                        <li class="listing-item__label sold">Sold</li>
                    </ul>
                    <span class="listing-item__title">Live Like A Billionaire: Island In The Bahamas</span>
                    <button class="listing-item__btn">REQUEST</button>
                </li>
                <li class="listing-item active investment exlusive">
                    <img class="listing-item__pic" src="../../images/listings/5.jpg" alt="">
                    <div class="listing-item__bg"></div>
                    <ul class="listing-item__labels">
                        <li class="listing-item__label investment">Investment Sales</li>
                        <li class="listing-item__label exlusive">Exclusive</li>
                    </ul>
                    <span class="listing-item__title">The Hamptons' Most Private Retreat? This $48M</span>
                    <button class="listing-item__btn">REQUEST</button>
                </li>
                <li class="listing-item active investment exlusive">
                    <img class="listing-item__pic" src="../../images/listings/6.jpg" alt="">
                    <div class="listing-item__bg"></div>
                    <ul class="listing-item__labels">
                        <li class="listing-item__label investment">Investment Sales</li>
                        <li class="listing-item__label exlusive">Exclusive</li>
                    </ul>
                    <span class="listing-item__title">Luxury hotel with spa for sale</span>
                    <button class="listing-item__btn">REQUEST</button>
                </li>
                <li class="listing-item active retail exlusive">
                    <img class="listing-item__pic" src="../../images/listings/1.jpg" alt="">
                    <div class="listing-item__bg"></div>
                    <ul class="listing-item__labels">
                        <li class="listing-item__label retail">Retail</li>
                        <li class="listing-item__label exlusive">Exclusive</li>
                    </ul>
                    <span class="listing-item__title">4 star Superior Wellness/Medical Hotel for sale </span>
                    <button class="listing-item__btn">REQUEST</button>
                </li>
                <li class="listing-item active investment exlusive">
                    <img class="listing-item__pic" src="../../images/listings/2.jpg" alt="">
                    <div class="listing-item__bg"></div>
                    <ul class="listing-item__labels">
                        <li class="listing-item__label investment">Investment Sales</li>
                        <li class="listing-item__label exlusive">Exclusive</li>
                    </ul>
                    <span class="listing-item__title">Luxury hotel with spa for sale</span>
                    <button class="listing-item__btn">REQUEST</button>
                </li>
            </ul>
            <div class="listings-footer">                   
                <ul class="pagination-list">
                    <li class="pagination-item current">1</li>
                    <li class="pagination-item spacer">/</li>
                    <li class="pagination-item"><a href="">2</a></li>
                    <li class="pagination-item spacer">/</li>
                    <li class="pagination-item"><a href="">3</a></li>
                </ul>
                <a class="listings-btn" href="#">SHOW MORE</a>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
        <div class="container">
            <div class="col-md-12">
                <div class="main-footer__wrapper">
                    <a class="footer-logo__wrapper" href="/">
                        <img class="footer-logo" src="../../svg/footer-logo.svg" alt="Julia Maksimova">
                        <img class="mobile-footer-logo" src="../../images/logo-mobile.png" alt="Julia Maksimova">
                        <span class="footer-logo__descr">Licensed Real Estate Associate Broker</span>
                    </a>
                    <ul class="footer-menu first">
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="about.html">About Me</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="press.html">In the Press</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="blog-post.html">Blog</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="video.html">Videos</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="listings.html">Featured Listings</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Get in Touch</a>
                        </li>
                    </ul>
                    <ul class="footer-menu second">
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="tenant.html">Tenant Representation <span>(Retail / Office)</span></a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="owner.html">Owner Representation <span>(Retail / Office)</span></a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="investment.html">Investment Sales & Capital Markets <span>(Valuation & advisory)</span></a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Consulting & Learning Services</a>
                        </li>
                    </ul>
                    <ul class="footer-menu__socials">
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-ic-facebook" href="#"></a>
                        </li>
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-youtube-play" href="#"></a>
                        </li>
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-ic-instagram" href="#"></a>
                        </li>
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-linkedin-rect" href="#"></a>
                        </li>
                    </ul>
                </div>
                <div class="copyright-footer__wrapper">
                    <span class="copyright-footer__text">© 2018 Julia Maksimova. All Rights Reserved.</span>
                    <div class="copyright-footer__links">
                        <a class="copyright-footer__link" href="#">Terms</a>
                        <span> • </span>
                        <a class="copyright-footer__link" href="#">Privacy</a>
                    </div>
                    <div class="scroll-btn__wrapper">
                        <span class="scroll-btn icon-arrow-down"></span>
                        <p>UP</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</main>

<div class="mfp-hide"> 
    <div id='video-popup' class="popup video-popup">
        <div class="iframe-wrapper">
            <iframe width="1280" height="315" src="https://www.youtube.com/embed/D0mRVJbGVSE?showinfo=0" frameborder="0" allowfullscreen></iframe>
            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        </div>
    </div>
</div>

</body>
</html>