<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Julia Maksimova</title>
</head>
<body id='body'>

<header class="header">
    <div class="lg-container">
        <div class="header-inner">
            <a class="logo-wrapper" href="#"><img class="logo" src="../../svg/logo.svg" alt="Julia Maksimova"></a>
            <ul class="main-menu">
                <li class="main-menu__item">
                    <a class="main-menu__link" href="/"><span>Home</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="/about.html"><span>About Me</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="/blog.html"><span>News and Insights</span></a>
                </li>
                <li class="main-menu__item multi">
                    <a class="main-menu__link" href="#"><span>Services</span></a>
                    <div class="secondary-menu">
                        <ul class="secondary-menu__list">
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/tenant.html">
                                    Tenant Representation <span>(Retail / Office)</span>
                                </a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/owner.html">
                                    Owner Representation <span>(Retail / Office)</span>
                                </a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="/investment.html">
                                    Investment Sales &amp; Capital Markets <span>(Valuation &amp; advisory)</span>
                                </a>
                            </li>
                            <li class="secondary-menu__item">
                                <a class="secondary-menu__link" href="#">
                                    Consulting &amp; Learning Services
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="listings.html"><span>Featured Listings</span></a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#"><span>Get in Touch</span></a>
                </li>
                <li class="main-menu__item">
                    <span class="lang-btn icon-arrow-down">
                        <p class="lang">EN</p>
                        <ul class="lang-menu" style="display: none;">
                            <li class="lang-menu__item active">EN</li>
                            <li class="lang-menu__item">RU</li>
                            <li class="lang-menu__item">FR</li>
                            <li class="lang-menu__item">SP</li>
                        </ul>
                    </span>
                </li>
            </ul>
            <span class="mobile-menu__btn">
                <div class="x"></div>
                <div class="y"></div>
                <div class="z"></div>
            </span>
        </div>
    </div>
</header>

<div class="mobile-menu">
    <div class="lg-container">
        <div class="mobile-menu__header">
            <img class="mobile-menu__logo" src="../../svg/footer-logo.svg" alt="Julia Maksimova">
            <div class="mobile-menu__right">
                <ul class="mobile-menu__socials top">
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-ic-facebook" href="#"></a>
                    </li>
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-youtube-play" href="#"></a>
                    </li>
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-ic-instagram" href="#"></a>
                    </li>
                    <li class="mobile-menu__socials-item">
                        <a class="mobile-menu__socials-link icon-linkedin-rect" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mobile-menu__lg">
            <ul class="mobile-menu__lg-row1">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
            <span class="mobile-menu__lg-heading">Services</span>
            <ul class="mobile-menu__lg-row2">
                <li>
                    <a href="tenant.html">Tenant Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="owner.html">Owner Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="investment.html">Investment Sales & Capital Markets <span>(Valuation & advisory)</span></a>
                </li>
                <li>
                    <a href="#">Consulting & Learning Services</span></a>
                </li>
            </ul>
            <span class="mobile-menu__lg-heading">Services</span>
            <ul class="mobile-menu__lg-row3">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
        </div>
        <div class="mobile-menu__sm">
            <span class="mobile-menu__sm-heading">Services</span>
            <ul class="mobile-menu__sm-list">
                <li>
                    <a href="tenant.html">Tenant Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="owner.html">Owner Representation <span>(Retail / Office)</span></a>
                </li>
                <li>
                    <a href="investment.html">Investment Sales & Capital Markets <span>(Valuation & advisory)</span></a>
                </li>
                <li>
                    <a href="#">Consulting & Learning Services</span></a>
                </li>
            </ul>
            <span class="mobile-menu__sm-heading">News and Insights</span>
            <ul class="mobile-menu__sm-list">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
            <ul class="mobile-menu__sm-additional-list">
                <li>
                    <a href="about.html">About Me</a>
                </li>
                <li>
                    <a href="listings.html">Featured Listings</a>
                </li>
                <li>
                    <a href="#">Get in Touch</a>
                </li>
            </ul>
            <ul class="mobile-menu__socials bot">
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-ic-facebook" href="#"></a>
                </li>
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-youtube-play" href="#"></a>
                </li>
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-ic-instagram" href="#"></a>
                </li>
                <li class="mobile-menu__socials-item">
                    <a class="mobile-menu__socials-link icon-linkedin-rect" href="#"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<main class="main-wrapper main-tenant">

<section class="tenant-screen">
    <div class="lg-container">
        <div class="tenant-screen__wrapper">
            <div class="tenant-info">
                <span data-mfp-src="#video-popup" class="main-screen__play-btn icon-icon_play popup-btn"></span>
                <div class="tenant-info__wrapper">
                    <span class="main-title">Owner Representation</span>
                    <p class="main-descr">
                        Why I am the competent owner representative.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-screen">
    <div class="container">
        <div class="col-md-12">
            <span class="screen-title">Owner Representation</span>
            <ul class="services-list">
                <li class="services-item">
                    <img class="services-pic" src="../../svg/ic-offices-own.svg" alt="">
                    <span class="services-title">For Offices Owners</span>
                    <a class="services-btn" href="#">Learn More</a>
                </li>
                <li class="services-item">
                    <img class="services-pic" src="../../svg/ic-shop-own.svg" alt="">
                    <span class="services-title">For Shops Owners</span>
                    <a class="services-btn" href="#">Learn More</a>
                </li>
                <li class="services-item">
                    <img class="services-pic" src="../../svg/ic-building-own.svg" alt="">
                    <span class="services-title">For Buildings Owners</span>
                    <a class="services-btn" href="#">Learn More</a>
                </li>
                <li class="services-item">
                    <img class="services-pic" src="../../svg/ic-hotel-own.svg" alt="">
                    <span class="services-title">For Hotels Owners</span>
                    <a class="services-btn" href="#">Learn More</a>
                </li>
            </ul>
        </div>       
    </div>
</section>

<section class="solutions-screen">
    <div class="lg-container">
        <div class="solutions-wrapper">
            <span class="solutions-title">Yulia Maksimova will choose the best solution for your business!</span>
            <ul class="solutions-list">
                <li>Acquisition & disposition</li>
                <li>Strategic planning</li>
                <li>Site selection</li>
                <li>Financial & market analysis</li>
                <li>Economic incentive analysis</li>
                <li>Comprehensive lease & sale negotiations</li>
                <li>Lease auditing</li>
                <li>Project management</li>
            </ul>
            <a class="solutions-btn" href="#request">SEND REQUEST</a>
        </div>       
    </div>
</section>

<section class="additional-solutions-screen">
    <div class="lg-container">
        <div class="additional-solutions-wrapper">
            <ul class="solutions-list">
                <li>Acquisition & disposition</li>
                <li>Strategic planning</li>
                <li>Site selection</li>
                <li>Financial & market analysis</li>
                <li>Economic incentive analysis</li>
                <li>Comprehensive lease & sale negotiations</li>
                <li>Lease auditing</li>
                <li>Project management</li>
            </ul>
            <a class="solutions-btn" href="#request">SEND REQUEST</a>     
        </div>
    </div>
</section>

<section class="companies-screen">
    <div class="lg-container">
        <div class="companies-wrapper">            
            <span class="screen-title white">Companies That Chose Yulia Maximova</span>
            <ul class="companies-list">
                <li class="companies-item">                    
                    <div class="companies-item__inner ci1"></div>
                </li>
                <li class="companies-item">                    
                    <div class="companies-item__inner ci2"></div>
                </li>
                <li class="companies-item">                    
                    <div class="companies-item__inner ci3"></div>
                </li>
                <li class="companies-item">                    
                    <div class="companies-item__inner ci4"></div>
                </li>
                <li class="companies-item">                    
                    <div class="companies-item__inner ci5"></div>
                </li>
                <li class="companies-item">                    
                    <div class="companies-item__inner ci6"></div>
                </li>
                <li class="companies-item">                    
                    <div class="companies-item__inner ci7"></div>
                </li>
                <li class="companies-item">                    
                    <div class="companies-item__inner ci8"></div>
                </li>
            </ul>
        </div>
        <div class="companies-info">
            <span class="companies-info__close icon-cancel-2 companies-info__x"></span>
            <div class="companies-info__wrapper">
                <div class="companies-info__inner">
                    <div class="companies-info__logo">
                        <div class="companies-item__inner ci1"></div>
                    </div>
                    <div class="companies-info__txt-wrapper">
                        <div class="companies-info__txt">The thought of finding a location for our practice was daunting, more so by the fact we were doing it from another state. Fortunately, we were referred to Mr. John Phelps. Not only did John help us to find a perfect location for our practice, he also negotiated a very favorable lease agreement for us. John was the consummate professional. We were always kept up to date throughout the whole process and was always available to address any of our concerns. More importantly, even after the deal was done, John is still there anytime we need his assistance. We would highly recommend Mr. Phelps’ services to our colleagues.</div>
                    </div>
                </div>
            </div>
            <span class="companies-info__close companies-info__back">GO BACK</span>
        </div>
        <div class="companies-info">
            <span class="companies-info__close icon-cancel-2 companies-info__x"></span>
            <div class="companies-info__wrapper">
                <div class="companies-info__inner">
                    <div class="companies-info__logo">
                        <div class="companies-item__inner ci2"></div>
                    </div>
                    <div class="companies-info__txt-wrapper">
                        <div class="companies-info__txt">The thought of finding a location for our practice was daunting, more so by the fact we were doing it from another state. Fortunately, we were referred to Mr. John Phelps. Not only did John help us to find a perfect location for our practice, he also negotiated a very favorable lease agreement for us. John was the consummate professional. We were always kept up to date throughout the whole process and was always available to address any of our concerns. More importantly, even after the deal was done, John is still there anytime we need his assistance. We would highly recommend Mr. Phelps’ services to our colleagues.</div>
                    </div>
                </div>
            </div>
            <span class="companies-info__close companies-info__back">GO BACK</span>
        </div>
        <div class="companies-info">
            <span class="companies-info__close icon-cancel-2 companies-info__x"></span>
            <div class="companies-info__wrapper">
                <div class="companies-info__inner">
                    <div class="companies-info__logo">
                        <div class="companies-item__inner ci3"></div>
                    </div>
                    <div class="companies-info__txt-wrapper">
                        <div class="companies-info__txt">The thought of finding a location for our practice was daunting, more so by the fact we were doing it from another state. Fortunately, we were referred to Mr. John Phelps. Not only did John help us to find a perfect location for our practice, he also negotiated a very favorable lease agreement for us. John was the consummate professional. We were always kept up to date throughout the whole process and was always available to address any of our concerns. More importantly, even after the deal was done, John is still there anytime we need his assistance. We would highly recommend Mr. Phelps’ services to our colleagues.</div>
                    </div>
                </div>
            </div>
            <span class="companies-info__close companies-info__back">GO BACK</span>
        </div>
        <div class="companies-info">
            <span class="companies-info__close icon-cancel-2 companies-info__x"></span>
            <div class="companies-info__wrapper">
                <div class="companies-info__inner">
                    <div class="companies-info__logo">
                        <div class="companies-item__inner ci4"></div>
                    </div>
                    <div class="companies-info__txt-wrapper">
                        <div class="companies-info__txt">The thought of finding a location for our practice was daunting, more so by the fact we were doing it from another state. Fortunately, we were referred to Mr. John Phelps. Not only did John help us to find a perfect location for our practice, he also negotiated a very favorable lease agreement for us. John was the consummate professional. We were always kept up to date throughout the whole process and was always available to address any of our concerns. More importantly, even after the deal was done, John is still there anytime we need his assistance. We would highly recommend Mr. Phelps’ services to our colleagues.</div>
                    </div>
                </div>
            </div>
            <span class="companies-info__close companies-info__back">GO BACK</span>
        </div>
        <div class="companies-info">
            <span class="companies-info__close icon-cancel-2 companies-info__x"></span>
            <div class="companies-info__wrapper">
                <div class="companies-info__inner">
                    <div class="companies-info__logo">
                        <div class="companies-item__inner ci5"></div>
                    </div>
                    <div class="companies-info__txt-wrapper">
                        <div class="companies-info__txt">The thought of finding a location for our practice was daunting, more so by the fact we were doing it from another state. Fortunately, we were referred to Mr. John Phelps. Not only did John help us to find a perfect location for our practice, he also negotiated a very favorable lease agreement for us. John was the consummate professional. We were always kept up to date throughout the whole process and was always available to address any of our concerns. More importantly, even after the deal was done, John is still there anytime we need his assistance. We would highly recommend Mr. Phelps’ services to our colleagues.</div>
                    </div>
                </div>
            </div>
            <span class="companies-info__close companies-info__back">GO BACK</span>
        </div>
        <div class="companies-info">
            <span class="companies-info__close icon-cancel-2 companies-info__x"></span>
            <div class="companies-info__wrapper">
                <div class="companies-info__inner">
                    <div class="companies-info__logo">
                        <div class="companies-item__inner ci6"></div>
                    </div>
                    <div class="companies-info__txt-wrapper">
                        <div class="companies-info__txt">The thought of finding a location for our practice was daunting, more so by the fact we were doing it from another state. Fortunately, we were referred to Mr. John Phelps. Not only did John help us to find a perfect location for our practice, he also negotiated a very favorable lease agreement for us. John was the consummate professional. We were always kept up to date throughout the whole process and was always available to address any of our concerns. More importantly, even after the deal was done, John is still there anytime we need his assistance. We would highly recommend Mr. Phelps’ services to our colleagues.</div>
                    </div>
                </div>
            </div>
            <span class="companies-info__close companies-info__back">GO BACK</span>
        </div>
        <div class="companies-info">
            <span class="companies-info__close icon-cancel-2 companies-info__x"></span>
            <div class="companies-info__wrapper">
                <div class="companies-info__inner">
                    <div class="companies-info__logo">
                        <div class="companies-item__inner ci7"></div>
                    </div>
                    <div class="companies-info__txt-wrapper">
                        <div class="companies-info__txt">The thought of finding a location for our practice was daunting, more so by the fact we were doing it from another state. Fortunately, we were referred to Mr. John Phelps. Not only did John help us to find a perfect location for our practice, he also negotiated a very favorable lease agreement for us. John was the consummate professional. We were always kept up to date throughout the whole process and was always available to address any of our concerns. More importantly, even after the deal was done, John is still there anytime we need his assistance. We would highly recommend Mr. Phelps’ services to our colleagues.</div>
                    </div>
                </div>
            </div>
            <span class="companies-info__close companies-info__back">GO BACK</span>
        </div>
        <div class="companies-info">
            <span class="companies-info__close icon-cancel-2 companies-info__x"></span>
            <div class="companies-info__wrapper">
                <div class="companies-info__inner">
                    <div class="companies-info__logo">
                        <div class="companies-item__inner ci8"></div>
                    </div>
                    <div class="companies-info__txt-wrapper">
                        <div class="companies-info__txt">The thought of finding a location for our practice was daunting, more so by the fact we were doing it from another state. Fortunately, we were referred to Mr. John Phelps. Not only did John help us to find a perfect location for our practice, he also negotiated a very favorable lease agreement for us. John was the consummate professional. We were always kept up to date throughout the whole process and was always available to address any of our concerns. More importantly, even after the deal was done, John is still there anytime we need his assistance. We would highly recommend Mr. Phelps’ services to our colleagues.</div>
                    </div>
                </div>
            </div>
            <span class="companies-info__close companies-info__back">GO BACK</span>
        </div>
    </div>
</section>

<section class="reviews-screen">
    <div class="container">
        <div class="col-md-12">
            <span class="screen-title">Reviews of the Work of Julia Maximova</span>
            <div class="reviews-wrapper">
                <div class="reviews-slider">
                    <div class="reviews-slider__item hidden-text__wrapper">
                        <div class="reviews-slider__inner">
                            <div class="reviews-slider__pic-wrapper">
                                <img class="reviews-slider__pic" src="../../images/reviews/1.jpg" alt="">
                                <span class="reviews-slider__pic-txt">Photo of project, 1155 Avenue of the Americas, New York</span>
                            </div>
                            <div class="reviews-slider__info hidden-text">
                                <div class="reviews-slider__info-inner hidden-text__inner">
                                    <img class="reviews-slider__logo" src="../../images/companies/tartinery.png" alt="Tartinery">
                                    <div class="reviews-slider__text">The thought of finding a location for our practice was daunting, more so by the fact we were doing it from another state. Fortunately, we were referred to Mr. John Phelps. Not only did John help us to find a perfect location for our practice, he also negotiated a very favorable lease agreement for us. John was the consummate professional. We were always kept up to date throughout the whole process and was always available to address any of our concerns. More importantly, even after the deal was done, John is still there anytime we need his assistance. We would highly recommend Mr. Phelps’ services to our colleagues.</div>
                                    <span class="reviews-slider__company"><strong>Mark Dotandalone</strong>, President of Tartinery Inc.</span>
                                </div>
                            </div>
                            <div class="reviews-slider__btn hide-btn"><span>REVEAL INFO</span><i class="icon-arrow-down"></i></div>
                        </div>
                    </div>
                    <div class="reviews-slider__item hidden-text__wrapper">
                        <div class="reviews-slider__inner">
                            <div class="reviews-slider__pic-wrapper">
                                <img class="reviews-slider__pic" src="../../images/reviews/1.jpg" alt="">
                                <span class="reviews-slider__pic-txt">Photo of project, 1155 Avenue of the Americas, New York</span>
                            </div>
                            <div class="reviews-slider__info hidden-text">
                                <div class="reviews-slider__info-inner hidden-text__inner">
                                    <img class="reviews-slider__logo" src="../../images/companies/tartinery.png" alt="Tartinery">
                                    <div class="reviews-slider__text">The thought of finding a location for our practice was daunting, more so by the fact we were doing it from another state. Fortunately, we were referred to Mr. John Phelps. Not only did John help us to find a perfect location for our practice, he also negotiated a very favorable lease agreement for us. John was the consummate professional. We were always kept up to date throughout the whole process and was always available to address any of our concerns. More importantly, even after the deal was done, John is still there anytime we need his assistance. We would highly recommend Mr. Phelps’ services to our colleagues.</div>
                                    <span class="reviews-slider__company"><strong>Mark Dotandalone</strong>, President of Tartinery Inc.</span>
                                </div>
                            </div>
                            <div class="reviews-slider__btn hide-btn"><span>REVEAL INFO</span><i class="icon-arrow-down"></i></div>
                        </div>
                    </div>
                    <div class="reviews-slider__item hidden-text__wrapper">
                        <div class="reviews-slider__inner">
                            <div class="reviews-slider__pic-wrapper">
                                <img class="reviews-slider__pic" src="../../images/reviews/1.jpg" alt="">
                                <span class="reviews-slider__pic-txt">Photo of project, 1155 Avenue of the Americas, New York</span>
                            </div>
                            <div class="reviews-slider__info hidden-text">
                                <div class="reviews-slider__info-inner hidden-text__inner">
                                    <img class="reviews-slider__logo" src="../../images/companies/tartinery.png" alt="Tartinery">
                                    <div class="reviews-slider__text">The thought of finding a location for our practice was daunting, more so by the fact we were doing it from another state. Fortunately, we were referred to Mr. John Phelps. Not only did John help us to find a perfect location for our practice, he also negotiated a very favorable lease agreement for us. John was the consummate professional. We were always kept up to date throughout the whole process and was always available to address any of our concerns. More importantly, even after the deal was done, John is still there anytime we need his assistance. We would highly recommend Mr. Phelps’ services to our colleagues.</div>
                                    <span class="reviews-slider__company"><strong>Mark Dotandalone</strong>, President of Tartinery Inc.</span>
                                </div>
                            </div>
                            <div class="reviews-slider__btn hide-btn"><span>REVEAL INFO</span><i class="icon-arrow-down"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</section>

<section class="text-screen hidden-text__wrapper">
    <div class="container">
        <div class="col-md-12">
            <div class="text-screen__container">
                <div class="text-screen__wrapper hidden-text">
                    <div class="text-screen__inner hidden-text__inner">
                        <span>
                            <h1>Owner Representation</h1>
                        </span>
                        <span>
                            As one of the largest, full-service real estate advisory firms in the world, Julia Maksiimova has extensive expertise in meeting any kind of tenant requirement. We offer comprehensive services that range from strategic planning to project management.
                        </span>
                        <span>
                            Regardless of a company's position, we provide value added real estate services that meet our tenant's changing needs. If your company is facing a near term lease expiration, is rapidly growing and needs to expand its facilities or is downsizing and needs to dispose of surplus space, our real estate professionals can develop unique, creative strategies that go beyond typical brokerage services.
                        </span>
                        <span>
                            Julia Maksiimova analyzes your company's current space usage and its capacity to meet your future requirements. As part of the evaluation process necessary to determine whether a renewal or relocation best suits your company's needs, we abstract your lease and benchmark your remaining obligation against prevailing market conditions, both at the submarket and building level.
                        </span>
                        <span>
                            Regardless of the ultimate decision to stay or move, Julia Maksiimova enhances your negotiating leverage by identifying alternative location options. To achieve this, we develop valuation matrices establishing your financial constraints, operational requirements and qualitative considerations. A short list of alternatives and corresponding negotiating strategies is created based upon our knowledge of the market, as well as the financial position and reputation of each building's landlord. Once the desired location is identified and the most favorable lease terms are negotiated, Julia Maksiimova's professionals stay closely involved to coordinate the ancillary activities associated with a renewal or relocation.
                        </span>
                        <span>
                            For those companies with a remaining lease obligation on space that is no longer necessary or financially prudent, Julia Maksiimova creates unique solutions to improve their situation. We develop strategies based on market conditions and an exhaustive analysis of the landlord's financial position on the property, including, but not limited to, the underlying mortgage, tax burden, operating expenses and anticipated vacancies. We advocate your position in negotiating the restructure of an unfavorable lease or, if necessary, assist in the disposition of excess space through a sublease, assignment or early termination.
                        </span>
                        <span>
                            Our approach to tenant representation is the most expert and comprehensive methodology available in the marketplace. By utilizing a combination of sophisticated analysis and creative thinking, we craft real estate strategies for our clients and customers that enhance their business objectives.
                        </span>
                        <span>
                            Upon completion of an assignment, Julia Maksiimova's advisors remain intimately involved with the process ensuring that the client is satisfied with the result of our efforts. The firm also provides ancillary services, including lease auditing, project management and construction supervision.
                        </span>
                        <span>
                            <h2>Tenant Representation Services Include:</h2>
                        </span>
                        <span>
                            <ul>
                                <li>Acquisition and Disposition</li>
                                <li>Strategic Planning</li>
                                <li>Site Selection</li>
                                <li>Financial and Market Analysis</li>
                                <li>Economic Incentive Analysis</li>
                                <li>Comprehensive Lease and Sale Negotiations</li>
                                <li>Lease Auditing</li>
                                <li>Project Management</li>
                                <li>Construction Supervision</li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="text-screen__btn-wrapper">
                    <div class="text-screen__btn hide-btn"><span>REVEAL INFO</span><i class="icon-arrow-down"></i></div>
                </div>
            </div>
        </div>       
    </div>
</section>

<section class="feedback-screen" id="request">
    <div class="container">
        <div class="col-md-12">
            <div class="feedback-wrapper">
                <span class="feedback-title">
                    Send a Request
                    <small>Fill out the form below and Julia Maksimova will contact you soon.</small>
                </span>
                <div class="feedback-form__wrapper">
                    <form class="feedback-form">
                        <div class="feedback-form__row">
                            <div class="feedback-form__input-wrapper">
                                <input type="text" name="name" class="feedback-form__input" required="" placeholder="Full Name">
                                <label class="feedback-form__label">Full Name</label>
                                <span></span>
                            </div>
                            <div class="feedback-form__input-wrapper">
                                <input type="text" name="phone" class="feedback-form__input" required="" placeholder="Phone Number">
                                <label class="feedback-form__label">Phone Number</label>
                                <span></span>
                            </div>
                        </div>
                        <div class="feedback-form__row">
                            <div class="feedback-form__input-wrapper">
                                <input type="text" name="email" class="feedback-form__input" required="" placeholder="E-mail">
                                <label class="feedback-form__label">E-mail</label>
                                <span></span>
                            </div>
                            <div class="feedback-form__input-wrapper">
                                <input type="text" name="position" class="feedback-form__input" required="" placeholder="Your Position">
                                <label class="feedback-form__label">Your Position</label>
                                <span></span>
                            </div>
                        </div>
                        <div class="feedback-form__row">
                            <div class="feedback-form__input-wrapper">
                                <select class="feedback-form__select">
                                    <option selected="" disabled="">Your Type of Business</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                                <span></span>
                            </div>
                            <div class="feedback-form__input-wrapper">
                                <select class="feedback-form__select">
                                    <option selected="" disabled="">Number of Employees</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                                <span></span>
                            </div>
                        </div>
                        <div class="feedback-form__row">
                            <div class="feedback-form__input-wrapper">
                                <select class="feedback-form__select">
                                    <option selected="" disabled="">What City are You Interested In?</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                                <span></span>
                            </div>
                            <div class="feedback-form__input-wrapper">
                                <select class="feedback-form__select">
                                    <option selected="" disabled="">What Location are You Interested In?</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                                <span></span>
                            </div>
                        </div>
                        <div class="feedback-form__row">
                            <div class="feedback-form__input-wrapper">
                                <select class="feedback-form__select">
                                    <option selected="" disabled="">What Volume of Space You Need / Sq.F.</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                                <span></span>
                            </div>
                            <div class="feedback-form__input-wrapper"></div>
                        </div>
                        <div class="feedback-form__text-wrapper">
                            <textarea class="feedback-form__text"></textarea>
                            <span></span>
                            <div class="feedback-form__text-title">
                                <span>More Info </span>
                                <small>400 char max</small>
                            </div>
                            <label class="feedback-form__text-label">400 char max</label>
                        </div>
                        <div class="feedback-form__policy-wrapper">
                            <input class="feedback-form__checkbox" type="checkbox" name="check">
                            <span class="feedback-form__policy">I accept the terms of the <a href="">privacy policy</a> and I agree</span>
                        </div>
                        <button class="feedback-form__btn" type="submit">SEND REQUEST</button>
                    </form>
                </div>
            </div>       
        </div>       
    </div>
</section>

<footer class="footer">
        <div class="container">
            <div class="col-md-12">
                <div class="main-footer__wrapper">
                    <a class="footer-logo__wrapper" href="/">
                        <img class="footer-logo" src="../../svg/footer-logo.svg" alt="Julia Maksimova">
                        <img class="mobile-footer-logo" src="../../images/logo-mobile.png" alt="Julia Maksimova">
                        <span class="footer-logo__descr">Licensed Real Estate Associate Broker</span>
                    </a>
                    <ul class="footer-menu first">
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="about.html">About Me</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="press.html">In the Press</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="blog-post.html">Blog</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="video.html">Videos</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="listings.html">Featured Listings</a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Get in Touch</a>
                        </li>
                    </ul>
                    <ul class="footer-menu second">
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="tenant.html">Tenant Representation <span>(Retail / Office)</span></a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="owner.html">Owner Representation <span>(Retail / Office)</span></a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="investment.html">Investment Sales & Capital Markets <span>(Valuation & advisory)</span></a>
                        </li>
                        <li class="footer-menu__item">
                            <a class="footer-menu__link" href="#">Consulting & Learning Services</a>
                        </li>
                    </ul>
                    <ul class="footer-menu__socials">
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-ic-facebook" href="#"></a>
                        </li>
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-youtube-play" href="#"></a>
                        </li>
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-ic-instagram" href="#"></a>
                        </li>
                        <li class="footer-menu__socials-item">
                            <a class="footer-menu__socials-link icon-linkedin-rect" href="#"></a>
                        </li>
                    </ul>
                </div>
                <div class="copyright-footer__wrapper">
                    <span class="copyright-footer__text">© 2018 Julia Maksimova. All Rights Reserved.</span>
                    <div class="copyright-footer__links">
                        <a class="copyright-footer__link" href="#">Terms</a>
                        <span> • </span>
                        <a class="copyright-footer__link" href="#">Privacy</a>
                    </div>
                    <div class="scroll-btn__wrapper">
                        <span class="scroll-btn icon-arrow-down"></span>
                        <p>UP</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</main>

<div class="mfp-hide"> 
    <div id='video-popup' class="popup video-popup">
        <div class="iframe-wrapper">
            <iframe width="1280" height="315" src="https://www.youtube.com/embed/D0mRVJbGVSE?showinfo=0" frameborder="0" allowfullscreen></iframe>
            <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        </div>
    </div>
</div>

</body>
</html>